html, body {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  color: darkslateblue;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
main h1 {
  margin-bottom: 3rem;
  font-size: clamp(2.5rem, 5vw, 3rem);
}
main h2 {
  margin-bottom: 2rem;
  font-size: clamp(2rem, 5vw, 2.5rem);
}
main p {
  margin: 1rem 0;
  line-height: 1.5;
  width: 100%;
  max-width: 100%;
}
main img {
  max-width: 100%;
  height: auto;
  width: 35%;
}
main iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}

nav {
  padding: 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav a {
  color: darkslateblue;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
nav a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  main {
    padding: 0.5rem;
  }
  main img {
    width: 80%;
  }
  nav a {
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
  }
}